
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  @media only screen and (max-width: 480px){
    body{
    display: flex;
    flex-wrap: wrap;
  }

}
  body{
  
    overflow-y: scroll;
  }
  header.header{
    width: 100%;
    height: 100vh;
    background-image: url(headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 161px;
    height: 32px;
    margin-left: 110px;
  }
  .navbar-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  a.nav-link{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    word-wrap: break-word
  }
  section.section-hero{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: white;
  }
  
  section.section-hero div.container h2{
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word
  }
  
  section.section-hero div.container p{
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  section.section-hero div.container button{
    background-color: #ff6565;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 21px;
    margin-top: 50px;
  }
  
  a.button{
    font-size: 14px;
    font-weight: 700;
    word-wrap: break-word;
    color: white;
    text-decoration: none;
    
  }
  
  .nav-link:hover, .nav-link:active{
    color: #ff6565;
    }
    
    .button:hover, .button:active{
      opacity: 0.9;
      cursor: pointer;
    }
  
    section.section-hero div.box {
    margin-top: 100px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word
  }
  
  /*Section What we do*/
  section.section-what-we-do{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 45%;
    text-align: center;
    color: black;
  }
  
  .flex-container{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 120%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  header.header-section p{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 50px;
  }
  
  header.header-section h3{
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  
  .block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
  }
  /*Section our results*/
  .flex-container-1{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 120%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(headphones_hero_2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .block-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
  }
  .flex-item-1{
    position: relative;
  }
  .pentagon {
    width: 100px;
    height: 0;
    border-top: 100px solid #ff6565;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
} 

.pentagon:before {
    content: "";
    position: absolute;
    bottom: 100px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #ff6565;
}
  p.overlay-text{
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 400; 
    margin-top: -95px;
    margin-left: 45px;
    transform: translate(-50%, -50%);
  }
  p span{
    text-align: center;
    font-size: 46px;
    font-weight: 700;
  }
 /*Animations*/
  .flex-item {
    transition: transform 0.3s;
  }
  
  .flex-item:hover {
    transform: scale(1.2);
  }
  
  .flex-item:hover {
    opacity: 0.7;
  }


  .block-1:hover {
    animation: bounce 1s infinite;
}
  
  
  .block-1 {
    opacity: 1;
  }
header.header-section h3:hover{
  transform: scale(1.2);
}



  /*section contact us*/
  .flex-container-2{
    height: 100vh;
    width: 100%;
    position: relative;
    top: 120%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  

  input.name{
    border-top: white;
    border-right: white;
    border-left: white;
    
  }
  input.email{
    border-top: white;
    border-right: white;
    border-left: white;
}
    input.your-message{
        border-top: white;
        border-right: white;
        border-left: white;
      }
label.your-message{
    color: #071629;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
    margin-right: 264px;
}
label.email{
    color: #071629;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
    margin-right: 322px;
}
label.name{
    color: #071629;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
    margin-right: 321px;
}
input.button{
    font-size: 14px;
    font-weight: 700;
    word-wrap: break-word;
    color: white;
    background-color: #ff6565;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 21px;
    margin-top: 50px;
    
    
}
/*footer*/
footer.footer{
    width: 100%;
    height: 25vh;        
    background-color: #071629;
    background-size: cover;
    background-position: center;
        background-repeat: no-repeat;       
}  
a.icon{
    margin-right: -500px;
}

p.extra{
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3516787588596344;
}
